@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 220 98% 61%;

  --background: 0, 0%, 98%;
  --foreground: 236 19% 35%;
  --card: 0 0% 100%;
  --card-hover: 233 11% 84%;
  --card-foreground: 236 19% 35%;
  --border: 233 11% 84%;
}

.dark {
  --background: 235 21% 11%;
  --foreground: 237 14% 26%;
  --card: 235 24% 19;
  --card-foreground: 234 39% 85%;
  --card-hover: 236 33% 92%;
  --border: 237 14% 26%;
}
